<section class="data-binding-section">
  <button
    class="btn btn-dark"
    (click)="dataBindingDiv = !dataBindingDiv"
  >
    O que foi aprendido no capítulo de 'DataBinding'?
  </button>
  <div
    class="data-binding-content"
    [style.display]="dataBindingDiv == true ? 'block' : 'none'"
  >
    <p>
      Interpolação:
      <b> Ex:</b> {{ interpolacao }}
    </p>
    <p>
      [Property Binding]:
      <b> Ex: </b>
      <code> {{ propertyBinding }} </code>
    </p>
    <p>
      (Event Binding):
      <b> Ex: </b>
      <code> {{ eventBinding }} </code>
    </p>
    <p>
      [(Two-way data binding)]:
      <code> {{ twoBinding }} </code>
    </p>
    <p>
      Input Property:
      <code> {{ inputProperty }} </code>
    </p>
    <p>
      Output Property:
      <code>
        <input type="text" [value]="valorInput" readonly #campoInput>
        <button class="btn btn-primary" (click)="incrementaInput()">+</button>
      </code>
    </p>
  </div>
</section>
