.data-binding-section {
  text-align: center;
}

.data-binding-content {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

input {
  width: 29px;
}
